@import "lib/vars";
@import "lib/mixins.scss";
@import "lib/fonts.scss";



body{
    font-size: 14px;
    line-height: 16px;
    color: #242935;
    font-family: "OpenSans";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+79,fdf6e8+100 */
    background-color: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ffffff 79%, #fdf6e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ffffff 79%,#fdf6e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ffffff 79%,#fdf6e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdf6e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

strong{
    font-family: 'OpenSansBold';
}
.wrapper{
    background: url("../img/cover.svg") right 0 no-repeat;
    overflow: hidden;
}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
    color: #ffffff;
}


.container{
    max-width: 1280px;
    padding: 0 35px;
    position: relative;
}

header{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 35px;
    left: 0;
    top:0;
    background: rgba(189, 158, 115, 0.6);
}
.logo{
    padding-top: 7px;
    display: inline-block;
    cursor: pointer;
}

.card_type{
    list-style: none;
    margin: 0;
    padding: 2px 0 0 0;
    text-align: center;

    li{
        display: inline-block;
        margin: 0 20px;
    }

    a{
        color: #B69768;
        font-size: 18px;

        &:hover{
            text-decoration: none;
        }
    }
}


.lang{
    float: right;
    border: 1px solid #BD9D61;
    border-radius: 20px;
    overflow: hidden;
    margin: -4px 0 0 30px;

    a{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 35px;
        padding: 0 16px;
        color: #ffffff;
        display: inline-block;
        border-radius: 20px;

        &:last-child{
            margin-left: -4px;
        }
    }

    .active{
        background: #BD9D61;
        color: #ffffff;
    }
}

.content_section{
    width: 60%;
}


h1{
    font-size: 36px;
    line-height: 36px;
    font-family: "OpenSansBold";
    color: #bd9e73;
    //background: -webkit-linear-gradient(#dbb17d, #bd9e73);
    //background: linear-gradient(#dbb17d, #bd9e73);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    margin: 0 0 50px 0;
    word-break: break-word;
}

.main_block h1{
    font-size: 64px;
    line-height: 64px;
    margin: 50px 0;
}

.info_item{
    min-height: 90px;
    margin-bottom: 40px;
    font-size: 0;

    > div {
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin-right: -50px;
        line-height: 50px;
        text-align: center;
        position: relative;
        img {
            float: none;
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
            max-width: 100%;
            line-height: 1;
        }
    }

    .icon-top {
        vertical-align: top;
    }

    // img {
    //     float: left;
    // }

    .text{
        width: 100%;
        padding-left: 70px;
        margin-left: 0;
        font-size: 14px;
        line-height: 19px;
        // margin-left: 70px;
    }

    .title{
        color: #C8A16D;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    a{
        color: #669AFF;
        font-size: 18px;
    }

    li{
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
            position: relative;
            padding-left: 20px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 11px;
                width: 10px;
                border-top: 1px solid;
            }
        }
    }

    &.no-margin {
        margin-bottom: 0;
    }
}

// .info_item.big .text{
//     margin-left: 110px;
// }

// .info_item.big img{
//     width: 70px;
// }

@media (max-width: 767px) {
    .title-1 {
        font-size: 30px;
        line-height: 30px;
    }
}

.pt18{
    padding-top: 18px;
}


.privilege .info_item{
    margin-bottom: 0;
}



.main_block .info_item .text{
    font-size: 18px;
    line-height: 24px;
}

.choise_link{
    background: #BD9D61;
    display: inline-block;
    border-radius: 32px;
    color: #ffffff;
    //font-family: "Intro";
    text-transform: uppercase;
    font-size: 24px;
    padding: 19px 20px 13px;

    &:hover{
        color: #ffffff;
    }
}



.more_link{
    border: 2px solid #669AFF;
    display: inline-block;
    border-radius: 32px;
    color: #669AFF;
    font-size: 18px;
    padding: 14px 20px 14px;
    margin-bottom: 60px;

    &:hover{
        color: #669AFF;
    }
    &:active{
        color: #669AFF;
    }
    &:focus{
        color: #669AFF;
    }
}

.order_link{
    border: 2px solid #BD9D61;
    display: inline-block;
    border-radius: 32px;
    color: #BD9D61;
    font-size: 18px;
    padding: 11px 20px 7px;
    cursor: pointer;
    //font-family: "Intro";
    text-transform: uppercase;
    transition: 400ms all;
    background-color: #ffffff;


    &:hover, &:focus{
        color: #ffffff;
        background: #BD9D61;
        outline: none;
    }
}



.about{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
}


.section-slide{
    padding: 110px 0 60px 0;
    position: relative;
}

.co{
    position: absolute;
    bottom: 40px;
}

.card-list{
    position: absolute;
    right: 0;
    top:0;
}

.cards .nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cards .nav>li>a{
    padding: 0;
}

.cards{
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    //right: 0;
    top:100px;
    z-index: 2;
    width: 396px;
    transition: 600ms all;
    body.choise & {
        top:100px;
        .card{
            width: 95px;
            height: 63px;
            &:before{
                transition: 400ms all;
                content: "";
                display: block;
                width: 90px;
                height: 64px;
                left: 0;
                bottom: 0;
                position: absolute;
                box-shadow: 0px 25px 10px -15px rgba(198, 160, 108, 0.5);
                opacity: 0;
                visibility: hidden;
            }
            &:hover:before{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .card{
        margin-bottom: 30px;
        transition: 400ms all;
        float: right;
        width: 230px;
        height: 155px;
        cursor: pointer;
        display: block;
        position: relative;
        right: 0;

        &:before{
            transition: 400ms all;
            content: "";
            display: block;
            width: 220px;
            height: 152px;
            left: 0;
            bottom: 0;
            position: absolute;
            box-shadow: 0px 25px 10px -15px rgba(198, 160, 108, 0.5);
            opacity: 0;
            visibility: hidden;
        }
        &:hover{
            right: 10px;
        }
        &:hover:before{
            opacity: 1;
            visibility: visible;
        }


    }

    .card_block{
        position: relative;
        &.is-active {
            z-index: 2;
        }
        &.is-active .card {
            width: 396px ;
            height: 270px ;
            &:before{
                width: 370px;
                left: 20px;
                bottom: 8px;
            }
        }
    }

    .card1{
        //background: url("../img/rbk_prisma_gold.svg") 0 0 no-repeat;
        background: url("../img/card1.svg") 0 0 no-repeat;
        background-size: cover;
    }
    .card2{
        //background: url("../img/rbk_prisma_infinite.svg") 0 0 no-repeat;
        background: url("../img/card2.svg") 0 0 no-repeat;
        background-size: cover;
    }
    .card3{
        //background: url("../img/rbk_prisma_platinum.svg") 0 0 no-repeat;
        background: url("../img/card3.svg") 0 0 no-repeat;
        background-size: cover;
    }
}



    .card_block.active {
        order: -3;
    }
    .card_block1.active .order_form1 {
        display: block;
    }
    .card_block2.active .order_form2 {
        display: block;
    }
    .card_block3.active .order_form3 {
        display: block;
    }
    .cards .card_block {
        &.active{
            z-index: 2;
        }
        &.active .card{
            width: 396px ;
            height: 270px ;
            &:before{
                width: 370px;
            }
        }
    }


.main_screen{
    height: 100vh;
}
.main_block{
    padding-top: 30px;
}

.order_form1,
.order_form2,
.order_form3{
    display: none;
}

.order_form{
    width: 290px;
    position: absolute;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #C6A06C;
    box-shadow: 0px 30px 40px rgba(198, 160, 108, 0.4);
    padding: 15px;
    bottom: -320px;
    right: 105px;
    z-index: 15;

    .input_line{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 0;
    }

    label{
        font-weight: normal;
        font-size: 14px;
        opacity: 0.6;
    }
    input{
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        line-height: 30px;
        width: 100%;
        padding: 0 5px;
        &.get_order_btn{
            border: 2px solid #BD9D61;
            display: inline-block;
            border-radius: 32px;
            color: #BD9D61;
            font-size: 18px;
            padding: 6px 20px 6px;
            cursor: pointer;
            //font-family: "Intro";
            text-transform: uppercase;
            width: auto;
            line-height: normal;
            margin: 10px 0 0 0;
            background: #ffffff;
            &:hover{
                background: #BD9D61;
                color: #ffffff;
            }
        }
    }

    .close-ico{
        position: absolute;
        right: 10px;
        top:10px;
        //display: block;
        cursor: pointer;
        background: url("../img/close.png") 0 0 no-repeat;
        width: 24px;
        height: 24px;
        display: none;
    }
}

.select{
    border: 1px solid #c5c5c5;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 5px;
    background: url("../img/arrow-drop.svg") 98% center no-repeat;
    select{
        width: 100%;
        border: none;
        background: none;
        -webkit-appearance: none;
        appearance: none;
    }
}
.t20{
    font-size: 20px;
}

:focus{
    outline: none;
}

select::-ms-expand {	display: none; }

.order-link-block{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 5;
}


.send_message{
    display: none;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 767px) {

    .cards .card_block.active .card {
        $width: 260px;//280px;
        $height: $width*190px/280px;
        width: $width !important;
        height: $height !important;
    }
    .order-link-block {
        padding-bottom: 20px;
        transition: all .3s;
        &.hide-button {
            opacity: 0;
            transform: translateY(100%);
            pointer-events: none;
        }
    }
    .order_link {
        padding: 15px 30px 13px;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0, .1);
    }
    .more_link {
        padding: 8px 20px 10px;
    }
    .section-slide {
        padding-bottom: 500px !important;
        &.main_screen {
            padding-bottom: 0 !important;
            .co {
                position: static !important;
                padding-bottom: 20px !important; 
                bottom: 40px !important;
            }
            .mainlink {
                position: relative;
                padding-bottom: 20px;
                bottom: auto;
                left: auto;
            }
        }
    }
    .co {
        position: absolute !important;
        padding: 0 !important;
        bottom: 56px !important;
    }
    .order_form {
        bottom: 155px !important;
        width: auto !important;
        left: 15px !important;
        right: 15px !important;
    }
    header {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .title-h {
        margin-top: 80px !important;
    }
    .lang {
        position: relative;
        top: 2px;
    }
    .mainlink {
        position: absolute;
        left: 0;
        bottom: 20px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 16px;
        color: #242935;
        margin-bottom: 20px;
    }
    .cards-list-mainpage {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }
        .cards {
            display: block;
            width: auto;
            .nav {
                display: block;
                li {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
    .cards .card_block.active .card:before {
        width: 250px;
    }
    body.choise .cards .card:before,
    .cards .card::before {
        opacity: 1;
        visibility: visible;
    }
    .scroll-anchor {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        height: 1px;
    }
}
.telephone{
    float: right;
}

.telephone a{
  background: url("../img/phone.png") 0 0 no-repeat;
  background-size: 22px auto;
  margin: 5px 0 0 0;
  padding: 0 0 0 30px;
  display: inline-block;
  font-size: 30px;
  min-height: 24px;
  color: #ffffff;
}

.left-arr{
    position: absolute;
    left: -10px;
    top:35%;
    background: url("../img/arr-left.svg") 0 0 no-repeat;
    background-size: 40px auto;
    width: 40px;
    height: 60px;
    z-index: 2;
}

.right-arr{
    position: absolute;
    right: -10px;
    top:35%;
    background: url("../img/arr-right.svg") 0 0 no-repeat;
    background-size: 40px auto;
    width: 40px;
    height: 60px;
    z-index: 2;
}

